body {
    height: 100vh;
    margin: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #f8b595, #f67280, #c06c84, #6c5b7c);
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.Header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header div{
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    border-radius: 15px;
}

.Header h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Background{
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 100px;
    margin-top: 20px;
    border-radius: 15px;
    min-width: 250px;
    width: auto;
    transition: background-color 0.5s ease;
}

.Background:hover{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 5px #acacac;
}

.Background
.Title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.ProfilePic {
}

.BackgroundPic{

}

.Name{

}

.Description{

}

.Links{

}